<!DOCTYPE html>
{% extends "votacao/home.html" %}
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Criar Questão</title>
</head>
<body>

    <h2>Criar Questão</h2>
    <form action="{% url 'votacao:criar' %}" method="POST">
        {% csrf_token %}
        <label for="questao_texto">Nome da Questão:</label>
        <input type="text" value="Questão" id="questao_texto" name="questao_texto"/>
        <input type="submit" value="Submeter" />
    </form>

</body>
{% endblock %}
</html>