<!DOCTYPE html>
<html lang="en">

{% extends "votacao/home.html" %}
{% block outros_links %}
    <a href="{% url 'votacao:editar' questao.id %}">
        Adicionar opção
    </a>
    <a href="{% url 'votacao:apagar_opcao' questao.id %}">
        Apagar opção
    </a>
{% endblock %}
{% block content %}
<body>

<h1>{{ questao.questao_texto }}</h1>
<form action="{% url 'votacao:voto' questao.id %}"
method="post">
{% csrf_token %}
{% for opcao in questao.opcao_set.all %}
<input type="radio" name="opcao"
id="opcao{{ forloop.counter }}"
value="{{ opcao.id }}" />
<label for="opcao{{ forloop.counter }}">
{{ opcao.opcao_texto }}

</label>
<br />
{% endfor %}
<input type="submit" value="Voto" />
</form>


<form method="POST" action="{% url 'votacao:apagar_questao' questao.id %}">
    {% csrf_token %}
    <button type="submit">Apagar Questão</button>
</form>



</body>
{% endblock %}
</html>