<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'votacao/css/mystyle.css'%}">

    <meta charset="UTF-8">
    <title>{% block titulo %} Template base {% endblock %}</title>
</head>

<body>
<header><h1> Este é o header (definido no template base)</h1></header>
<nav>
<a href={% url 'votacao:home' %}>Home</a>
<a href={% url 'votacao:loginview' %}>Mudar de conta</a>
{% block outros_links %}

{% endblock %}
</nav>
{% block content %}
<p>numero de questões respondidas: {{ user.questoes_respondidas.len }}</p>
{% if latest_question_list %}
<ul>
 {% for questao in latest_question_list %}
 <li>
<a href="{% url 'votacao:detalhe' questao.id %}">
{{ questao.questao_texto }}
</a>
</li>
 {% endfor %}
</ul>
{% else %}
<p>Nao ha questoes disponiveis.</p>
{% endif %}

<button>
    <a  href="{% url 'votacao:criar' %}">
        Criar Questão
    </a>
</button>
{% endblock %}
</body>


</html>