<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<header>Bem vindo(a)! {{ user.username }}</header>
<p>numero de questões respondidas: {{ user.questoes_respondidas }}</p>
{% if latest_question_list %}
<ul>
 {% for questao in latest_question_list %}
 <li>
<a href="{% url 'votacao:detalhe' questao.id %}">
{{ questao.questao_texto }}
</a>
</li>
 {% endfor %}
</ul>
{% else %}
<p>Nao ha questoes disponiveis.</p>
{% endif %}

<button>
    <a  href="{% url 'votacao:criar' %}">
        Criar Questão
    </a>
</button>
</body>

</html>