<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="{% url 'votacao:loginview' %}" method="POST">
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" id="username" name="username"/>
    <br>
    <label for="password">Password</label>
    <input type="text" id="password" name="password"/>
    <br>
    <input type="submit" value="login" id="login_submit"/>
</form>

<button>
    <!--  href -->
    <a href="{% url 'votacao:registo' %}">
        registo
    </a>
</button>
</html>